@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'RobotoRegular', Arial, sans-serif;
	font: 18px/27px;
}
#mui_header {
	background-color:#80C801;
}
.mui_page {
	background-image: url('../images/texture7.png');
}
.mui_page button {
	text-shadow: 0 -1px 0 #4c9021;
}
button img {
	vertical-align: middle;
}
#mui_header h1 {
	text-shadow: 0 -1px 0 #4c9021;
	color: #fff;
	font-size: 20px;
}
.mui_listview li {
	padding: 18px;
}
.mui_listview li sub {
	color: #ccc;
}
#habit_list div {
	padding:0;
	margin:0;
	padding-top: 10px;
	margin:0 auto;
}
#habit_list button {
	display: inline-block;
	width: 48%;
	color: #fff;
	padding: 10px;
	border: 0;
	text-shadow: 0 -1px 0 #4c9021;
	font-size: 20px;
	font-weight:bold;
	
}

#habit_list .didit_button {
	background-color: #82B221;
}
#habit_list .failed_button {
	background-color: #E33331;
}
#new_habit_page,
#edit_habit_page {
	padding-top: 40px;
}
#habit_input,
#edit_habit_input {
	font-size: 20px;
	padding: 15px;
	border: 2px solid #ebc67c;
	display: block;
	width: 90%;
	margin:0 auto;
	margin-bottom: 10px;
	color: #666;
	border-radius: 5px;
}
#add_habit_button,
#save_edit_habit_button,
#calculate_pie_chart_button {
	padding: 10px;
	color: #fff;
	border:0;
	border-radius: 5px;
	margin:0 auto;
	display:block;
	width: 150px;
	background-color: #82B221;
	font-size: 20px;
	font-weight:bold;
}
button.header_b_hlight {
	background-color:#8FB737 !important;
}
.didit_press {	
	background-color:#2DA80F !important;
}
.fail_press {	
	background-color:#E60A0C !important;
}

.trans {
	-webkit-transition: all 0.20s linear 0s;
	transition: all 0.20s linear 0s;
}

#habit_list li {
	-webkit-transition: background-color 0.40s linear 0s;
	transition: background-color 0.40s linear 0s;
}

#habitrac_menu_popup_con {
	position: fixed;
	top: 70px;
	left: 5px;
	right: 5px;
	background-color: #fff;
	z-index: 200;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	margin: 0 auto;	
}
#habitrac_menu_popup_con li {
	padding: 0 !important;
	margin:0  !important;
	border-bottom: 1px solid #53C1E9;
}
#habitrac_menu_popup_con li:last-child {
	border:0;
}
#habitrac_menu_popup_con button {
	font-family: 'RobotoRegular', Arial, sans-serif;
	font-size: 16px;
	background-color: transparent;
	width: 100%;
	border:0;
	padding: 20px;
	margin:0;
	text-align: center;
}
#habitrac_menu_popup_con button img {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
button.menu_press {
	background-color:#DBDBDB !important;
}

span.habit_label {
	display:block;
	padding:10px;
	text-align: center;
}

#notification {
	position: fixed;
	bottom: 50px;
	left: 10px;
	right: 10px;
	z-index: 200;
	display: none;
}

#notification span {
	display:block;
	margin:0 auto;
	background-color:#FCD209;
	border: 2px solid #FCD209;
	color:#fff;
	width: 200px;
	padding: 7px;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
}

#chart_page {
	padding: 10px;
}

#pie_con {
	width: 280px;
	margin:0 auto;
	overflow: hidden;
	padding:0;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 10px;
}
#pie_con h2 {
	font-size: 14px;
	text-align: center;
	color: #666;
	padding-top: 15px;
}

#chart_dates {
	text-align: center;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	padding: 5px;
}

input.chart_date {
	background-image: url('../images/calendar.png');
	background-position: left;
	background-repeat: no-repeat;
	padding: 5px;
	padding-left: 30px;
	width: 100px;
	border: 0;
	color: #666;
}
#chart_date_from {
	margin-right: 5px;
}

#calculate_pie_chart_button {
	font-size: 15px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
}


