html {
	/* See: http://stackoverflow.com/a/11823698 */
    -webkit-user-select: none;
	user-select: none;
	/* See: http://stackoverflow.com/a/11237968
	-webkit-touch-callout:none; */
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-drag:none;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-attachment:fixed;
	height:100%;
    margin:0px;
    padding:0px;
	/* font-family: 'RobotoRegular', Arial, sans-serif; */
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font: 18px/27px;
	overflow-x: hidden !important;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-touch-callout:none;
}
#mui_header {
	background-color:#80C801;
}
.mui_page {
	/* background-image: url('../images/texture7.png'); */
	/* See: http://sublimeorange.com/css/css3-inner-shadow/ */
	/* See: http://www.red-team-design.com/how-to-create-slick-effects-with-css3-box-shadow
	-webkit-box-shadow:inset 0 0 20px rgba(50, 50, 50, 0.6);
	box-shadow:inset 0 0 20px rgba(50, 50, 50, 0.6); */
	/* See: http://www.html5rocks.com/en/mobile/optimization-and-performance/ */
	/* See: http://mobile.smashingmagazine.com/2012/06/21/play-with-hardware-accelerated-css/ */
	-webkit-transform: translate3d(0, 0, 0) rotate(0) scale(1);
	/* transform: translate3d(0, 0, 0); */
	-webkit-overflow-scrolling: touch;
	/* See: http://stackoverflow.com/a/10133679 */
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	/* See: http://stackoverflow.com/questions/10014461/why-does-enabling-hardware-acceleration-in-css3-slow-down-performance */
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	
	padding-bottom: 30px;
}
.mui_page button {
	/* text-shadow: 0 -1px 0 #000;  */
}
button img {
	vertical-align: middle;
}
#mui_header h1 {
	text-shadow: 0 -1px 0 #4c9021; 
	color: #fff;
	font-size: 20px;
}
.mui_listview li {
	padding: 18px;
}
.mui_listview li sub {
	color: #ccc;
}
#habit_list li {
	margin-top: 5px;
}
#habit_list div {
	padding:0;
	margin:0;
	padding-top: 10px;
	margin:0 auto;
}
#habit_list button {
	display: inline-block;
	width: 48%;
	color: #fff;
	padding: 10px;
	border: 0;
	text-shadow: 0 -1px 0 #4c9021;
	font-size: 20px;
	font-weight:bold;
	
}

#habit_list .didit_button {
	background-color: #82B221;
}
#habit_list .failed_button {
	background-color: #E33331;
}
#new_habit_page,
#edit_habit_page {
	padding-top: 40px;
}
#habit_input,
#edit_habit_input {
	font-size: 20px;
	padding: 15px;
	display: block;
	width: 90%;
	margin:0 auto;
	margin-bottom: 10px;
	color: #666;
	border:0;
	border-bottom: 1px solid #82B221;
	padding-bottom: 5px;
	padding-left: 5px;
	-webkit-user-select:auto !important;
}

input:focus {
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
#add_habit_button,
#save_edit_habit_button,
#calculate_pie_chart_button {
	padding: 10px;
	color: #fff;
	border:0;
	margin:0 auto;
	display:block;
	width: 150px;
	background-color: #82B221;
	font-size: 20px;
	font-weight:bold;
}
button.header_b_hlight {
	background-color:#8FB737 !important;
}
.didit_press {	
	background-color:#2DA80F !important;
}
.fail_press {	
	background-color:#E60A0C !important;
}

.trans {
	-webkit-transition: all 0.20s linear 0s;
	transition: all 0.20s linear 0s;
}

#habit_list li {
	-webkit-transition: background-color 0.40s linear 0s;
	transition: background-color 0.40s linear 0s;
	margin-bottom: 4px;
}

#habitrac_menu_popup_con {
	position: fixed;
	top: 70px;
	/* See: http://stackoverflow.com/questions/8844527/css-center-a-fixed-div */
	left: 10%;
	right: 10%;
	background-color: #fff;
	z-index: 200;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	margin: 0 auto;	
	width: 260px;
	border-radius: 4px;
}
#habitrac_menu_popup_con li,
#app_menu_list li {
	padding: 0 !important;
	margin:0;
	border-bottom: 2px solid #53C1E9;
	margin-top: 5px;
}
#habitrac_menu_popup_con li:last-child,
#app_menu_list li:last-child {
	border:0 !important;
}
#habitrac_menu_popup_con button,
#app_menu_list button {
	font-family: 'RobotoRegular', Arial, sans-serif;
	font-size: 16px;
	background-color: transparent;
	width: 100%;
	border:0;
	padding: 20px;
	margin:0;
	text-align: center;
}
#habitrac_menu_popup_con button img {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
button.menu_press {
	background-color:#53C1E9 !important;
	color: #fff;
}

span.habit_label {
	display:block;
	padding:10px;
	text-align: center;
	position: relative;
	overflow:hidden;
	/* See: http://stackoverflow.com/a/11823698 */
    -webkit-user-select: none;
	user-select: none; 
	/* See: http://stackoverflow.com/a/11237968 */
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color: transparent;
}
.habit_label_cover {
	position: absolute;
	top:0;
	left:0;
	z-index:2;
	margin:0 !important;
	background-color: transparent;
	opacity: 0;
}

#notification {
	position: fixed;
	top: 40px;
	left: 10px;
	right: 10px;
	z-index: 200;
	display: none;
}

#notification span {
	display:block;
	margin:0 auto;
	background-color:#FCD209;
	border: 3px solid #fff;
	color:#fff;
	width: 200px;
	padding: 7px;
	text-align: center;
	border-radius: 10px;
	font-size: 15px;
}

#chart_page {
	padding: 10px;
}

#pie_con {
	width: 280px;
	margin:0 auto;
	overflow: hidden;
	padding:0;
	background-color: #fff;	
}
#pie_con h2 {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: #666;
	padding-top: 15px;
}

#chart_dates {
	text-align: center;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	padding: 5px;
}

input.chart_date {
	background-image: url('../images/calendar.png');
	background-position: left;
	background-repeat: no-repeat;
	padding: 5px;
	padding-left: 30px;
	width: 123px;
	border: 0;
	color: #666;
	border-bottom: 1px solid #80C801;
	margin-bottom: 5px;
}
#chart_date_from {
	margin-right: 5px;
}

#calculate_pie_chart_button {
	font-size: 15px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#pie_con p {
	color: #ccc;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	padding-top: 0;
}

#didit_count {
	color: #82B221;	
}
#fail_count {
	color: #E33331;
}
#app_menu_list li {
	border-bottom: 1px solid #ccc !important;
}
#app_menu_list button {
	text-align: left;
}
#app_menu_list button sub {
	text-shadow: 0 -0 0 #fff;
	padding-top: 6px;
}
.app_menu_pressed {
	background-color: #8FB737 !important;
}
#about_page {
	background-image: url('../images/pixme.jpg');
	background-position: center;
	background-repeat: no-repeat;
	padding: 10px;
}
#about_page {
	font-family: Georgia,Times,serif !important;
	color: #666;
}
#about_page h2 {
	padding-top: 10px;
	font-size: 47px;
	font-weight: 400;
	letter-spacing: -2px;
	line-height: 1.25em;
	width: 173px;
	margin: 0 auto;
	display: block;
	text-shadow: 0 -1px 0 #ccc;
}
#about_page p {
	text-align: center !important;
	font-weight: bold;
}
#about_page sub {
	font-size: 13px;
	color: #999;
	text-decoration: underline;
}
#about_page .external_codes {
	margin-top: 20px;
	text-align: center !important;
	font-size: 11px;
	color: #ccc;
}
.show_popup_menu {
	background-color: #53C1E9 !important;
}

div.habit_list_label_con {
	padding-left: 90px !important;
	position: relative;	
	height: 100px;
}

div.habit_quick_bar_con {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 8px !important;
	text-align: center;
	background-color: #F7F8F8;
}
div.bar_holder {
	position: relative;
	height: 100%;
	border-bottom: 1px solid #ccc;
}
div.bar_holder div {
	width: 25px;
	padding: 0 !important;
	border-radius: 3px;
	position: absolute;
	bottom: 0;
}
div.bar_fail {
	background-color: #E33331;
	left:4px;	
}
div.bar_didit {
	background-color: #82B221;
	right:4px;
}

#init_loading {
	font-style: italic;
	color: #ccc;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	font-weight: normal;
}

/* LM: 09-23-14 */
#log_con {
	width: 100%;
	min-height: 360px;
	height:100%;
	background: url("../images/logs_bg.gif") no-repeat right 70px fixed #000;
	color: #fff;
	padding: 5px;
	padding-bottom: 15px;
	font-size: 12px;
	font-family: consolas, sans-serif;
	/* See: http://www.w3schools.com/cssref/css3_pr_word-wrap.asp */
	word-wrap: break-word;
}



