<h2 id="pie_chart_h2">---</h2>
<canvas id="habit_pie">Does not support canvas.</canvas>
<p>
Was able to do this habit <span id="didit_count">10</span> times and failed <span id="fail_count">6</span> times. 
This habit has been saved for about <span id="habit_days_diff">0</span> days now. Habit was added on 
<span id="habit_date_added"></span>
</p>

<div id="chart_dates">			
	<input placeholder="From" id="chart_date_from" class="chart_date">
	<input placeholder="To" id="chart_date_to" class="chart_date"><br>
	<button id="calculate_pie_chart_button" data-hlightclass="didit_press">Calculate Pie</button>
</div>