<li>
	<button id="goto_about_page_button" data-hlightclass="app_menu_pressed">
		About 
		<sub>Application information and other stuff.</sub>
	</button>
</li>
<li>
	<button data-hlightclass="app_menu_pressed">
		Habitrac Build V1.0 11.20.12.A
		<sub>Indicates the time this application was last modified.</sub>
	</button>
</li>
<li>
	<button data-hlightclass="app_menu_pressed">
		Backing up the localstorage data.
		<sub>Goto /data/data/com.habitrac.android/lib/ and save its contents</sub>
	</button>
</li>
