<li>
	<button id="goto_about_page_button" data-hlightclass="app_menu_pressed">
		About 
		<sub>Application information and other stuff.</sub>
	</button>
</li>
<li>
	<button data-hlightclass="app_menu_pressed">
		Habitrac Build V1.0 12312012A
		<sub>
			Indicates the time this application was last modified and version. 
			Making stuff work on Android 4.0.4 is HARD :(
		</sub>
	</button>
</li>
<li>
	<button data-hlightclass="app_menu_pressed">
		66 Days!
		<sub>Remember it takes 66 days to make a habit.</sub>
	</button>
</li>
<li>
	<button id="goto_logs_page_button" data-hlightclass="app_menu_pressed">
		Logs.
		<sub>Log reports from Habitrac internals.</sub>
	</button>
</li>
<li>
	<button id="make_file_backup_button" data-hlightclass="app_menu_pressed">
		Backup habit data.
		<sub>Backup habit data. Data will be saved in /habitrac.txt file.</sub>
	</button>
</li>
<li>
	<button id="restore_from_backup_file_button" data-hlightclass="app_menu_pressed">
		Restore from backup file.
		<sub>Restore habit data from /habitrac.txt file.</sub>
	</button>
</li>
